.form{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6%;
    box-sizing: border-box;
    border: 1px solid #ffffff; 
    margin: 15px 40%;
    border-radius: 10px;
    cursor: pointer;
    flex-direction: column;
    

    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.74);
    overflow: hidden; 

}
.saveButton {
    padding: 10 px;
    color: white;
    background-color: green;
}

.deleteButton {
    padding: 10px;
    color: white;
    background-color: red;
}


.title,.description{
    flex: 1;
    margin-bottom: 10px;
    overflow: hidden;
    max-width: 150%;
}
.buttonBox{
    display: flex;
    align-items: center;
    justify-content: center;
}