

@keyframes enhance-header {
    to {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(17.4px);
        -webkit-backdrop-filter: blur(17.4px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1;
        flex-direction: column;
        align-items: flex-start;

        scale: 50%;
        width: 15%;
        height: 20%;
        top: -28px;
        margin-left: -40px;
    }
}

.containerNavigation {  
    margin-left: 0;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ffffff; 
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);

    
    animation: enhance-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 20px;
    animation-play-state: running; /* Agregado para activar la animación */


}



.addTaskButton {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #4CAF50;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
